extends layout

block content
  h1= title
  - let items = results
  div(class="container-fluid")
   div(class="row m-1")
    each item in items
     -let destination=`dispatch(\"/items/update?id=${item._id}\")`
     div(class="row-sm-2", class="m-1") Item #{item.item_name}(#{item.category}) is #{item.quantity}
      button.btn( class="btn-primary ml-1", onclick= destination) Update
   div.container-fluid
    div.row
     each vitems ,index in items
      div.col-sm-2(onClick=`buy(${index})`) #{vitems.item_name}
      div.col-sm-2(onClick=`buy(${index})`) #{vitems.category}
      div.col-sm-2(onClick=`buy(${index})`) #{vitems.quantity} 
      br
      hr

  script.
        function buy(index)
        {
            alert(`You purchased Item ${index+1}`)
        }
  script.
   function dispatch(path){
    window.location.href=path
   }