extends layout

block content
  h1 Items Class
  .container-fluid
    .row
      - let items = [{ item_name: 'Laptop', category: 'Electronics', quantity: 10 },{ item_name: 'Lipsticks', category: 'Cosmetics', quantity: 2 },{ item_name: 'shirt', category: 'Clothing', quantity: 5 }]
      each item, index in items
        .col-sm-4(style="cursor: pointer", onclick=`buy(${index})`) 
          h4= item.item_name
          p item_name : #{item.item_name}
          p Category: #{item.category}
          p Quantity: #{item.quantity}
  script.
    function buy(index) {
      alert(`You purchased item ${index}`);
    }  

  